header{
    background:url(../img/bg.jpg);
    color: #019851;
    background-size: cover;
    background-position: center;
    .contenedor_logo_menu{
        padding: 25px 0;
        border-bottom: 1px solid rgba(#ffff, .4);
        .logo a{
            display: block;
            img{
                vertical-align: top;}}}
    .menu{
        text-align: right;
        line-height: 50px;
        a{
            color: #ffff;
            margin-left: 60px;
            font-size: 18px;}}
    .textos{
        color: #ffff;
        text-align: center;
        margin: 100px 0;
        .primera_linea,
        .segunda_linea{
            font-family: 'Open Sans', Arial, sans-serif;
            font-weight: 300;
        }
        .primera_linea{
            font-size: 35px;
            list-style: 35px;
            margin-bottom: 30px;}
        .segunda_linea{
            font-size: 25px;
            list-style: 25px;
            margin-bottom: 60px;}
        .contenedor-btns{
            margin-bottom: 50px;
            a{
                border-radius: 4px;
                border: 2px solid #fff;
                color: #ffff;
                padding: 12px 0;
                font-weight: 600;
                width: 235px;
                display: inline-block;
                text-align: center;
                margin: 0 10px;
                &:hover{
                    text-decoration: none;
                    background: #ffff;
                    color: #4f4f4f;}}}}}        